<div class="mesa-container" *ngIf="mesa">
    <div class="mesa-info">
        <div class="mesa__info__encabezado">
          <div class="salir">
            <button mat-button class="btn" (click)="volverAlSalon()">
              <mat-icon class="icon" >arrow_back</mat-icon>
            </button>
          </div>
          <div class="info">
            <h2>Mesa: {{this.mesa.numero}}</h2>
            <h2>Mozo: {{this.mesa.mozo}}</h2>
          </div>
        </div>
        <div class="mesa__info__buscador">
          <app-buscador [idMesa]="this.mesa.id" ></app-buscador>
        </div>
    </div>
    <div class="comanda">
      <mat-divider></mat-divider>
      <div class="comanda-container">
        
        <div class="comanda-pedidos">
          <table>
              <thead>
                <tr>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th>Total</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of mesa.comanda">
                  <td>{{ item.producto.nombre }}</td>
                  <td>{{ item.cantidad }}</td>
                  <td>{{ item.producto.precio| currency }}</td>
                  <td>{{ item.cantidad * item.producto.precio| currency }}</td>
                  <td class="acciones-td">
                    <button mat-button >
                      <mat-icon > close </mat-icon>
                    </button>
                    <button mat-button >
                      <mat-icon > settings </mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
          </table>  
        </div>

        <div class="comanda-footer">
            <div class="comanda-total">
              <h3>Total: $1510.00 </h3>
              <mat-divider></mat-divider>
            </div>
            <div class="comanda-actions">
              
              <button  class="btn-confirmar" (click)="botonPrueba()">Confirmar Comanda</button>
              <button   class="btn-cancelar">Cancelar Comanda</button>
            </div>
        </div>
      </div>

    </div>
</div>