@use  "shared/colors.scss" as color;
.tool-bar{
  background-color: color.$negro;
  color: color.$principal;
  .spacer {
      flex: 1 1 auto;
  }
  button{
    color: color.$principal;
    transition: color;
    &:hover {
      color: color.$principal-hover;
    }
  }
}


